<header class="py-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <ul
        *ngIf="shouldIBeDisplayed()"
        class="nav col-12 col-lg-auto me-lg-auto"
      >
        <li *ngFor="let item of navigation"></li>
        <a routerLink="item.path"> {{ item.label }}</a>
      </ul>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">Simplilearn Dashboard</div>
</footer>
